#container {
	width: 1200px;
	margin: 100px auto;
}
ul, li {
	margin: 0;
	padding: 0;
}
#blob {

	border-right: 1px solid #0059ec;
	border-left: 1px solid #0059ec;
	position: absolute;
	top: 0;
	z-index: 1;
	background: #0b2b61;
	background: -moz-linear-gradient(top, #0b2b61, #1153c0);
	background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 3px 10px #011331;
	-webkit-box-shadow: 2px 3px 10px #011331;
}
#nav {
	position: relative;
	background: #292929;
	float: left;
}
#nav li {
	float: left;
	list-style: none;
	border-right: 1px solid #4a4a4a;
	border-left: 1px solid black;
}
#nav li a {
	color: #e3e3e3;
	position: relative;
	z-index: 2;
	float: left;
	font-size: 14px;
	font-family: helvetica, arial, sans-serif;
	text-decoration: none;
	padding: 14px 50px;
}
.sub-menu {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	/*background: url("../images/pattern-grey.png");*/
	width: 200px;
	/*background-color: lightSteelBlue;*/
	padding: 10px 0px;
	border-radius: 10px;
	clear: both;
}
.category-label div {
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 10px;
	background: none repeat scroll 0 0 #DB323A;
	padding: 10px;
}
.sub-menu div {
	cursor: pointer;
	margin: 2px;
	background: none repeat scroll 0 0 whitesmoke;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
}
.sub-menu div:hover {
	cursor: pointer;
	margin: 2px;
	background: none repeat scroll 0 0 #DE79A3;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
}
.sub-menu div.selected {
	margin: 2px;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	color: orange;
	font-weight: bold;
}
.sub-menu-title {
	margin-bottom: 50px;
	background:#DB323A;
	height: 50px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 15px;
	width: 300px;
}
.sub-menu-title h1 {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 120px;
	padding-top: 10px;
	font-size: 23px;
}
.left-menu {
	float: left;
	min-height: 800px;
	margin-right: 50px;
	margin-top: 5px;
	border: 1px solid #ECECEC;
	border-bottom: none;
	border-right: none;
}
.left-menu #support h1 {
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 23px;
	padding-bottom: 40px;
}
.left-menu #support {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background: whitesmoke;
	clear: both;
	margin: 10px;
}
.left-menu #support .phone {
	height: 25px;
	background: url(../images/phone-icon.png) no-repeat;
	margin-left: 5px;
}
.left-menu #support .yahoo {
	margin-left: 5px;
	
}
.left-menu #support .yahoo img{
	width: 50px;
	
}
.left-menu div{
	margin: 2px;
}
.main-contain {
	width: 939px;
	border: 1px solid #ECECEC;
	float:left;
}
.promotion {
	padding: 20px;
}
.promotion img {
	max-width: 850px;
}
